@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-[#1A1A1A] text-[#FFFFFF];
  }


  .neon {
    @apply text-[#CAFF33];
  }
  .neon-bg {
    @apply bg-[#CAFF33] text-black;
  }



  .h1 {
    @apply text-5xl font-bold;
  }
  .h2 {
    @apply text-4xl font-bold;
  }
  .h3 {
    @apply text-3xl font-bold;
  }
  .h4 {
    @apply text-2xl font-bold;
  }
  .h5 {
    @apply text-xl font-bold;
  }
  .h6 {
    @apply text-lg font-bold;
  }
  .p {
    @apply text-base;
  }


  .text-white {
    @apply text-[#FFFFFF];
  }


  .flex-center {
    @apply flex items-center justify-center;
  }
  .flex-start {
    @apply flex items-start justify-start;
  }
  .flex-end {
    @apply flex items-end justify-end;
  }
  .flex-between {
    @apply flex justify-between;
  }


  .container {
    @apply mx-auto px-4;
  }
  .max-container {
    @apply mx-auto px-4 max-w-[1200px];
  }

  .btn-primary {
    @apply bg-[#CAFF33] text-[#1A1A1A] py-2 px-4 rounded-full;
  }
  .btn-primary:hover {
    @apply bg-[#b7eb26];
  }
  .btn-secondary {
    @apply bg-[#262626] py-2 px-4 rounded-full text-white;
  }
  .active {
    @apply bg-[#262626] py-2 px-4 rounded-full;
  }
}
