@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-[#1A1A1A] text-[#FFFFFF] scrollbar-none;
  }

  .neon {
    @apply text-[#CAFF33];
  }
  .neon-bg {
    @apply bg-[#CAFF33] text-black;
  }

  .h1 {
    @apply text-5xl font-medium;
  }
  .h2 {
    @apply text-4xl font-medium;
  }
  .h3 {
    @apply text-3xl font-medium;
  }
  .h4 {
    @apply text-2xl font-medium;
  }
  .h5 {
    @apply text-xl font-medium;
  }
  .h6 {
    @apply text-lg font-medium;
  }
  .p {
    @apply text-base;
  }

  .text-white {
    @apply text-[#FFFFFF];
  }

  .flex-center {
    @apply flex items-center justify-center;
  }
  .flex-start {
    @apply flex items-start justify-start;
  }
  .flex-end {
    @apply flex items-end justify-end;
  }
  .flex-between {
    @apply flex justify-between;
  }

  .container {
    @apply mx-auto px-4;
  }
  .max-container {
    @apply mx-auto lg:px-20 px-4 max-w-[1444px];
  }

  .btn-primary {
    @apply bg-[#CAFF33] text-[#1A1A1A] py-3 px-5 rounded-full cursor-pointer;
  }
  .btn-primary:hover {
    @apply bg-[#b7eb26];
  }
  .btn-secondary {
    @apply py-3 px-4 rounded-full text-white border border-[#262626];
  }
  .active {
    @apply bg-[#262626] py-2 px-4 rounded-full;
  }
}

/* Hide scroll bar */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.scrollbar-none {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
